{% import "bootstrap/wtf.html" as wtf %}

{% include "header.html" %}

  <!-- Page Header -->
  <header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url({{url_for('static', filename='images/register-bg.jpg')}});">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Create an account</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto register-margin">
		  {% with messages = get_flashed_messages() %}
			{% if messages %}
			{% for message in messages %}
			<p>{{ message }}</p>
			{% endfor %}
			{% endif %}
			{% endwith %}

       {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}

      </div>
    </div>
  </div>

{% include "footer.html" %}